@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FCE4D6;
  color: #2D1B33;
  font-family: 'JetBrains Mono', monospace;
}